# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# CODE-SERVER
# ---------------------------------------------------------
CODE_SERVER_CONFIG=/mnt/user/appdata/code-server/config
CODE_SERVER_WORKSPACE=/mnt/user/projects
CODE_SERVER_NPM_GLOBAL=/mnt/user/appdata/code-server/npm-global
TZ=Europe/Berlin