# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# CODE-SERVER
# ---------------------------------------------------------
CODE_SERVER_CONFIG=/mnt/user/appdata/code-server/config
CODE_SERVER_WORKSPACE=/mnt/user/projects
TZ=Europe/Berlin