# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# JDOWNLOADER 2
# ---------------------------------------------------------
JDOWNLOADER_OUTPUT_PATH=/mnt/user/download
JDOWNLOADER_CONFIG_PATH=/mnt/user/appdata/jdownloader
JDOWNLOADER_USER_ID=99
JDOWNLOADER_GROUP_ID=100
JDOWNLOADER_UMASK=000
