# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# PAPERLESS
# ---------------------------------------------------------
PAPERLESS_URL=your_value_here

# ---------------------------------------------------------
# POSTGRESQL
# ---------------------------------------------------------
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=your_value_here

# ---------------------------------------------------------
# PATHS
# ---------------------------------------------------------
REDIS_DATA=/mnt/user/docs-jens/database/redis
DB_DATA=/mnt/user/docs-jens/database/postgres
PAPERLESS_CONFIG_LOCATION=/mnt/user/docs-jens/config
PAPERLESS_MEDIA_LOCATION=/mnt/user/docs-jens/data/media
PAPERLESS_CONSUME_LOCATION=/mnt/user/docs-jens/data/consume
PAPERLESS_EXPORT_LOCATION=/mnt/user/docs-jens/data/export
