# Cloudflare Tunnel
TUNNEL_TOKEN=your_value_here

# Paperless Generell
PAPERLESS_URL=your_value_here

# PostgreSQL Datenbank (Schon mal vorbereitet für Phase 2)
# Achtung: Keine Sonderzeichen nutzen, die Docker Compose "verwirren" könnten (oder in Anführungszeichen setzen)
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=your_value_here

# Paths
REDIS_DATA_LOCATION=/mnt/user/docs-jens/database/redis
DB_DATA_LOCATION=/mnt/user/docs-jens/database/postgres
PAPERLESS_CONFIG_LOCATION=/mnt/user/docs-jens/config
PAPERLESS_MEDIA_LOCATION=/mnt/user/docs-jens/data/media
PAPERLESS_CONSUME_LOCATION=/mnt/user/docs-jens/data/consume
PAPERLESS_EXPORT_LOCATION=/mnt/user/docs-jens/data/export