# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# MOSQUITTO
# ---------------------------------------------------------
MOSQUITTO_CONFIG_PATH=/mnt/user/appdata/mosquitto/config
MOSQUITTO_DATA_PATH=/mnt/user/appdata/mosquitto/data

# ---------------------------------------------------------
# NODE-RED
# ---------------------------------------------------------
NODERED_DATA_PATH=/mnt/user/appdata/nodered-extern
NODERED_USER_ID=0
NODERED_GROUP_ID=0
