# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# COMMON
# ---------------------------------------------------------
TZ=Europe/Berlin
PUID=your_value_here
PGID=your_value_here
BACKUP_SOURCE_PATH=/mnt/user
DISKS_PATH=your_value_here

# ---------------------------------------------------------
# BACKREST
# ---------------------------------------------------------
BACKREST_PORT=9898
BACKREST_CONFIG_PATH=/mnt/user/appdata/backrest
BACKREST_CACHE_PATH=/mnt/user/appdata/backrest/cache
BACKREST_DATA_PATH=/mnt/user/appdata/backrest/data
BACKREST_REPOS_PATH=/mnt/user/appdata/backrest/repos
BACKREST_SSH_PATH=/mnt/user/appdata/backrest/root_ssh

# ---------------------------------------------------------
# DUPLICATI
# ---------------------------------------------------------
DUPLICATI_CONFIG_PATH=/mnt/user/appdata/duplicati
DUPLICATI_BACKUPS_PATH=/mnt/user/appdata/duplicati/local_backups
