# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# VAULTWARDEN
# ---------------------------------------------------------
VAULTWARDEN_DATA_PATH=/mnt/user/vaults
VAULTWARDEN_DOMAIN=your_value_here
SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false
ADMIN_TOKEN=your_value_here
