# Cloudflare
TUNNEL_TOKEN=your_value_here

# Paths
NEXTCLOUD_DATA_LOCATION=/mnt/user/nextcloud/data
NEXTCLOUD_CONFIG_LOCATION=/mnt/user/nextcloud/config
DB_DATA_LOCATION=/mnt/user/nextcloud/database

# Database App User
DB_DATABASE=nextcloud
DB_SUPERUSER_USER=nextcloud
DB_SUPERUSER_PASSWORD=your_value_here
DB_USER=oc_admin
DB_PASSWORD=your_value_here

# Nextcloud
NEXTCLOUD_DOMAIN=your_value_here
NEXTCLOUD_INSTANCE_ID=your_value_here
NEXTCLOUD_PASSWORDSALT=your_value_here
NEXTCLOUD_SECRET=your_value_here

# Mail
MAIL_FROM=your_value_here
MAIL_DOMAIN=your_value_here
MAIL_HOST=your_value_here
MAIL_USER=your_value_here
MAIL_PASSWORD=your_value_here
MAIL_PORT=587

# Collabora
COLLABORA_ALIAS_GROUP=your_value_here