# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
IMMICH_TUNNEL_ENV=/mnt/user/appdata/immich-secrets/tunnel.env
IMMICH_DIRECT_ENV=/mnt/user/appdata/immich-secrets/direct.env

# ---------------------------------------------------------
# SWAG
# ---------------------------------------------------------
SWAG_PUID=99
SWAG_PGID=100
SWAG_TZ=Etc/UTC
SWAG_URL=example.com
SWAG_CONFIG=/mnt/user/appdata/immich-swag
SWAG_EMAIL=your_value_here
SWAG_BIND_ADDRESS=0.0.0.0
SWAG_HOST_PORT=8443

# ---------------------------------------------------------
# IMMICH
# ---------------------------------------------------------
IMMICH_VERSION=v3

# ---------------------------------------------------------
# PATHS
# ---------------------------------------------------------
IMMICH_DATA=/mnt/user/immich-photo
DB_DATA=/mnt/user/immich-photo/database/postgres
MODEL_CACHE=/mnt/user/immich-photo/machine-learning

# ---------------------------------------------------------
# DATABASE
# ---------------------------------------------------------
DB_USERNAME=immich
DB_DATABASE_NAME=immich
DB_PASSWORD=your_value_here
