# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# IMMICH
# ---------------------------------------------------------
IMMICH_VERSION=release

# ---------------------------------------------------------
# PATHS
# ---------------------------------------------------------
DATA_LOCATION=/mnt/user/immich-photo
DB_DATA_LOCATION=/mnt/user/immich-photo/database/postgres
MODEL_CACHE_LOCATION=/mnt/user/immich-photo/machine-learning

# ---------------------------------------------------------
# DATABASE
# ---------------------------------------------------------
DB_USERNAME=immich
DB_DATABASE_NAME=immich
DB_PASSWORD=your_value_here
