# ------------ CLOUDFLARE TUNNEL ------------
TUNNEL_TOKEN=your_value_here

# ------------ IMMICH GENERELL ------------
IMMICH_VERSION=release

# ------------ PFADE (DATA LOCALITY) ------------
DATA_LOCATION=/mnt/user/immich-photo
DB_DATA_LOCATION=/mnt/user/immich-photo/database/postgres
MODEL_CACHE_LOCATION=/mnt/user/immich-photo/machine-learning

# ------------ DATENBANK-LOGINS ------------
DB_USERNAME=immich
DB_DATABASE_NAME=immich
DB_PASSWORD=your_value_here