# ---------------------------------------------------------
# IMMICH DIRECT DNS
# ---------------------------------------------------------
CF_DNS_API_TOKEN=your_value_here
CF_ZONE_ID=your_value_here
CF_TUNNEL_TARGET=your_tunnel_id.cfargotunnel.com
IMMICH_DIRECT_IPV4=your_value_here
