# ---------------------------------------------------------
# OPENHANDS
# ---------------------------------------------------------
OPENHANDS_DATA_PATH=/mnt/user/appdata/openhands
OPENHANDS_PROJECTS_PATH=/mnt/user/appdata/openhands/projects
OPENHANDS_PORT=8000
OPENHANDS_LOCAL_BACKEND_API_KEY=your_value_here
OPENHANDS_SECRET_KEY=your_value_here
