# ---------------------------------------------------------
# GENERAL
# ---------------------------------------------------------
PUID=99
PGID=100
TZ=Europe/Berlin

# ---------------------------------------------------------
# PATHS
# ---------------------------------------------------------
BASE_PATH=/mnt/user/appdata/
MEDIA_SHARE=/mnt/user/video
DOWNLOAD_PATH=/mnt/user/download
REMOTE_SHARE=/mnt/remotes/aaa.bbb.ccc.ddd_video

# ---------------------------------------------------------
# JELLYFIN
# ---------------------------------------------------------
JELLYFIN_URL=your_value_here

# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
CLOUDFLARE_TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# VPN - GLUETUN
# ---------------------------------------------------------
VPN_SERVICE_PROVIDER=your_value_here
VPN_TYPE=wireguard
WIREGUARD_KEY=your_value_here
WIREGUARD_ADD=your_value_here
VPN_SERVER_COUNTRIES=your_value_here
WIREGUARD_MTU=1200
VPN_PORT_FORWARDING=off
TORRENTING_PORT=8694

# ---------------------------------------------------------
# ARR API KEYS
# ---------------------------------------------------------
RADARR_KEY=your_value_here
SONARR_KEY=your_value_here

# ---------------------------------------------------------
# SABNZBD
# ---------------------------------------------------------
HOST_WHITELIST_ENTRIES=your_value_here
