# ---------------------------------------------------------
# HERMES AGENT
# ---------------------------------------------------------
HERMES_DATA=/mnt/user/appdata/hermes
PUID=99
PGID=100
HERMES_DASHBOARD=true
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=your_value_here
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=your_value_here
HERMES_DASHBOARD_BASIC_AUTH_SECRET=your_value_here
API_SERVER_ENABLED=true
API_SERVER_HOST=0.0.0.0
API_SERVER_KEY=your_value_here
