# ---------------------------------------------------------
# CLOUDFLARE TUNNEL
# ---------------------------------------------------------
TUNNEL_TOKEN=your_value_here

# ---------------------------------------------------------
# PAPERLESS
# ---------------------------------------------------------
PAPERLESS_URL=your_value_here

# ---------------------------------------------------------
# POSTGRESQL
# ---------------------------------------------------------
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=your_value_here

# ---------------------------------------------------------
# PATHS
# ---------------------------------------------------------
REDIS_DATA_LOCATION=/mnt/user/docs-eltern/database/redis
DB_DATA_LOCATION=/mnt/user/docs-eltern/database/postgres
PAPERLESS_CONFIG_LOCATION=/mnt/user/docs-eltern/config
PAPERLESS_MEDIA_LOCATION=/mnt/user/docs-eltern/data/media
PAPERLESS_CONSUME_LOCATION=/mnt/user/docs-eltern/data/consume
PAPERLESS_EXPORT_LOCATION=/mnt/user/docs-eltern/data/export
